body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #0A192F; /* Dark navy blue background */
    color: #CCD6F6; /* Light grey-blue text for readability */
}

body{
  font-family: 'Lato', sans-serif;
}

html {
  scroll-behavior: smooth;
}

p{
  text-align: justify;
}

.top-nav {
    position: fixed;
    top: 0;
    right: 0;
    padding: 20px;
    background-color: rgba(10, 25, 47, 0.85); /* Slightly transparent dark navy for nav */
    z-index: 1000;
}

.top-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

.top-nav ul li {
    margin-left: 20px;
    font-family: 'Lato', sans-serif;
}

.top-nav ul li a {
    text-decoration: none;
    color: #CCD6F6; /* Lighter text color for contrast */
    font-size: 16px;
}

.landing-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    padding-top: 60px;
}

.profile-photo {
    max-width: 150px;
    height: auto;
    border-radius: 50%;
}

.landing-content {
    padding: 20px;
}

/* .resume-download {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #112240; /* Darker shade for the button */
    /* color: #CCD6F6;  */
    /* Text color */
    /* text-decoration: none; */
    /* border-radius: 5px; */
    /* border: 2px solid #CCD6F6; Adding a border to make it pop */
/* } */


.resume-download {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;

  padding: 10px 20px;
  background-color: #89b2b7; /* Darker shade for the button */
  color: #e5eaec; /* Text color */
  text-decoration: none; /* Removes the underline from the link */
  border-radius: 5px; /* Optional: if you want rounded corners */
  transition: background-color 0.3s; /* Smooth transition for background color */
}

.resume-download:hover {
  background-color: #0056b3; /* Change to your preferred hover background color */
  color: #cccccc; /* Change to your preferred hover text color */
}


h1 {
    color: #CCD6F6; /* Ensuring readability against the dark background */
    font-family: 'Roboto', sans-serif;
}

h2{
  font-family: 'Roboto', sans-serif;
}

h3{
  font-family: 'Roboto', sans-serif;
}

/* p{
  font-family: 'Roboto', sans-serif;
} */



/* ... your existing CSS code ... */

.work-experience {
  width: 100%;
  padding: 50px 0;
  background-color: #0A192F; /* Match the background with your landing page */
  color: #CCD6F6;
  text-align: center;
}

.work-experience h2 {
  color: #CCD6F6;
  margin-bottom: 20px;
}

.timeline {
  position: relative;
  max-width: 60%;
  margin: 40px auto;
  padding-top: 20px; /* Adjust top padding as needed */
}

.timeline::before {
  content: '';
  position: absolute;
  left: 40px; /* Align with the center of the circles */
  top: 0;
  bottom: 20px; /* Adjust bottom value as needed */
  width: 2px;
  background: #ccd6f6; /* Line color */
  z-index: 1;
}

.timeline-event {
  position: relative;
  padding-left: 80px; /* Left padding to accommodate the timeline line and circles */
  margin-bottom: 30px;
}

.timeline-event:before {
  content: '';
  position: absolute;
  left: 41px; /* Adjust this value so the circle's center aligns with the timeline line */
  top: 10px; /* Adjust this value so it is at the top of the text */
  width: 14px; /* Circle size */
  height: 14px; /* Circle size */
  margin-top: -7px; /* Half the height of the circle to center it on the line */
  margin-left: -7px; /* Half the width of the circle to center it on the line */
  background: #ccd6f6; /* Circle color */
  border-radius: 50%;
  z-index: 2; /* Ensure the circle is above the line */
}


.date {
  color: #CCD6F6;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 5px;
  text-align: left;
}

.content {
  background-color: #112240;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0px 16px 15px -10px rgba(105, 96, 215, 0.0944602);
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 22px;
  color: #CCD6F6;
  text-align: left;
  width: 100%;
}

/* ... any other CSS you may add ... */




.projects-section {
  width: 100%;
  padding: 50px 0;
  background-color: #0A192F; /* Matching the dark theme */
  color: #CCD6F6; /* Light text color */
  text-align: center;
}

.projects-section h2 {
  color: #CCD6F6;
  margin-bottom: 30px;
}

.projects-container {
  max-width: 50%; /* Using 50% of the viewport width */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centering the project cards */
  gap: 20px; /* Space between projects */
}

.project-item {
  width: 100%; /* Full width of the container */
  background-color: #112240; /* Darker background for each item */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 30px -10px rgba(2, 12, 27, 0.7);
  margin-bottom: 20px; /* Space between project items */
}

.project-item h3 {
  color: #64ffda; /* A lighter accent color for project titles */
  margin-bottom: 10px;
}

.project-item p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 15px;
}

.project-item a.website {
  display: inline-block;
  margin-right: 10px;
  padding: 10px 15px;
  background-color: #64ffda; /* Accent color */
  color: #0A192F; /* Dark text for contrast */
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.project-item a.website:hover {
  background-color: #52debf; /* Darker accent color on hover */
}

.project-item a.gatech-github {
  color: #f3f6f5; /* Darker accent color on hover */
}

.project-item img {
  max-width: 100%;
  height: auto;
  width: auto;
  border-radius: 5px; /* Optional: for styled image edges */
  margin-top: 15px;
}

.image-list {
  display: flex; /* Aligns children (images) in a row */
  justify-content: center; /* Centers the images horizontally */
  align-items: center; /* Aligns the images vertically in the center */
  gap: 10%; /* Adds some space between the images */
}

.image-list img {
  width: 100%; /* Sets the width of each image to 50% of the parent container */
  max-width: 300px; /* Optionally, limits the maximum width of each image */
}















.contact-section {
  width: 100%;
  padding: 50px 0;
  background-color: #0A192F;
  color: #CCD6F6;
  text-align: center;
}

.contact-section h2 {
  color: #CCD6F6;
  margin-bottom: 30px;
}

.contact-information p, .contact-information a {
  color: #CCD6F6;
  margin-bottom: 10px;
}

.contact-form form {
  max-width: 600px;
  margin: 0 auto;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
}

.contact-form button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #64ffda;
  color: #0A192F;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: #52debf;
}

/* Ensure placeholders have a lighter color for visibility */
::placeholder {
  color: #CCD6F6;
  opacity: 0.7; /* Placeholder text opacity */
}

/* Focus styles for form inputs */
input:focus, textarea:focus {
  border: 2px solid #64ffda;
}




.contact-section {
  width: 100%;
  padding: 50px 0;
  background-color: #0A192F;
  color: #CCD6F6;
  text-align: center;
}

.contact-section h2 {
  color: #CCD6F6;
  margin-bottom: 30px;
}

.contact-information a.contact-link {
  display: inline-block;
  margin: 0 10px;
  color: #CCD6F6;
  font-size: 24px; /* Adjust the size of the icons */
}

.contact-information a.contact-link:hover {
  color: #64ffda;
  transform: translateY(-5px);
  transition: transform 0.3s ease-in-out;
}

/* ... rest of your CSS ... */


.personal-notice-section {
  background-color: rgba(75, 67, 67, 0.05); /* Slightly lighter than the background for subtle contrast */
  color: #ffffff; /* White text color for readability */
  text-align: center; /* Center-align the text */
  padding: 15px; /* Add some padding */
  font-family: Arial, sans-serif; /* A clean, sans-serif font */
  font-size: 0.9em;
  width: 70%; /* Set the width to 70% of the container */
  margin: 20px auto; /* Centers the section horizontally with auto margins */
  box-sizing: border-box; /* Includes padding and border in the element's total width and height */
}




.footer-container {
  background-color: rgba(63, 61, 61, 0.05); /* Slightly lighter than the background for subtle contrast */
  color: #ffffff; /* White text color for readability */
  text-align: center; /* Center-align the text */
  padding: 15px 0; /* Add some padding */
  font-family: Arial, sans-serif; /* A clean, sans-serif font */
  font-size: 0.9em; /* Slightly smaller font size */
}

.footer-container footer p {
  margin: 0; /* Remove default margins from the paragraph */
}

.footer-container footer a {
  color: #ffffff; /* Ensures the link is also white */
  text-decoration: none; /* No underline for a cleaner look */
  transition: color 0.3s ease; /* Smooth transition for hover effect */
}

.footer-container footer a:hover {
  color: #bbbbbb; /* A lighter grey for when the link is hovered over */
}